/* #box{
    background-color: blue;
} */

/* .heading{
    color: red;
} */

/* button{
    background-color: green;
} */

/* h1{
    text-align: center;  
}

*{
    text-transform: capitalize;
    font-family: cursive;
}
*/

/* #div1{
    font-size: 25px;
}

#div2{
    font-size: 10px;
} */